.painel {
    box-shadow: 2px 2px 10px black;  /* Sombra. */
    min-height: 600px;                 /* Altura minima. */
    max-width: 800px;                  /* Largura maxima. */
    margin: 20px auto;                 /* Centralizar. */
    border-radius: 10px;               /* Arredondar bordas. */
    text-align: center;                /* Centralizar texto. */
    padding: 10px;
}

.chat {
    border: 1px solid gray; /* Borda. */
    height: 400px;            /* Altura. */
    border-radius: 10px;      /* Arredondar borda. */
    overflow-y: scroll;       /* Adicionar barra de rolagem. */
}

input {
    height: 30px;           /* Altura. */
    width: 250px;           /* Largura. */
    border-radius: 10px;    /* Borda arredpndada. */
    margin: 5px;            /* Margem. */
}

button {
    height: 30px;               /* Altura*/
    width: 150px;               /* Largura */    
    background-color: rgb(122, 126, 122);  /* Cor de fundo */
    color: white;             /* Cor da letra */
    border: none;               /* Sem borda */
    border-radius: 10px;        /* Arredondar borda */
}

body {
    background-color: rgb(186, 224, 233);
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: darkgray;
    font-size: 17px;
    transition: 1s;
}

.mensagens {
    text-align: left;   /* Alinhar a esquerda */
    padding: 2px;       /* Margem interna */
    padding-left: 20px; /* Margem interna da esquerda */
    box-shadow: 2px 2px 10px black;    /* Sombra */
    margin: 14px;       /* Margem externa */
    border-radius: 10px;/* Arredonda as bordas */

}

b {                               /* Tag negrito */
    font-size: 20px;            /* Tamanho da fonte */
    color: rgb(40, 40, 236); /* Cor da letra */

}

.mensagens:hover {                      /* Quando passar o mouse */
    background-color: honeydew;
    transition: 1s;
}

